

.e-FastReader-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font: 16px/1.25 Verdana, Geneva, Tahoma, sans-serif;
	color: #303030;
	background: #e6e6e6;
	z-index: 2147483647;
	overflow: hidden;
	outline: 0;
	opacity: 0;
	cursor: default;
	-webkit-transition: background-color 1s, opacity 500ms;
}
.e-FastReader-wrapper[is-closing=false] {
	opacity: 1;
}
.e-FastReader-wrapper[is-closing=true] {
	opacity: 0;
}
.e-FastReader-wrapper[dark-theme=true] {
	background: #1f1f1f;
}
.e-FastReader-wrapper[transparent-bg=true] {
	background: rgba(230, 230, 230, .85);
}
.e-FastReader-wrapper[dark-theme=true][transparent-bg=true] {
	background: rgba(31, 31, 31, .9);
}
.e-FastReader-wrapper * { /* fix for sites that apply styles directly on tags (i.e. lipsum.com) */
	font: inherit;
	line-height: inherit;
}



/* === Pane ===================== */

.e-FastReader-pane {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 1;
}
.e-FastReader-wrapper[v-position="5"] .e-FastReader-pane {
	bottom: 0;
	height: 160%;
}
.e-FastReader-wrapper[v-position="4"] .e-FastReader-pane {
	bottom: 0;
	height: 130%;
}
.e-FastReader-wrapper[v-position="3"] .e-FastReader-pane {
	top: 0;
}
.e-FastReader-wrapper[v-position="2"] .e-FastReader-pane {
	top: 0;
	height: 130%;
}
.e-FastReader-wrapper[v-position="1"] .e-FastReader-pane {
	top: 0;
	height: 160%;
}



/* === Context ===================== */

.e-FastReader-context {
	position: absolute;
	margin: 0 0 0 -300px;
	max-width: 600px;
	left: 50%;
	color: #8a8a8a;
	font-size: 16px;
	text-align: justify;
	z-index: 1; /* Places the context above the word wrapper */
	-webkit-transition: color 1s;
}
.e-FastReader-wrapper[transparent-bg=true] .e-FastReader-context {
	color: #575757;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-context {
	color: #6b6b6b;
}
.e-FastReader-wrapper[dark-theme=true][transparent-bg=true] .e-FastReader-context {
	color: #878787;
}
.e-FastReader-context_before {
	margin-bottom: 28px;
	bottom: 50%;
}
.e-FastReader-wrapper[font-size="7"] .e-FastReader-context_before {
	margin-bottom: 47px;
}
.e-FastReader-wrapper[font-size="6"] .e-FastReader-context_before {
	margin-bottom: 40px;
}
.e-FastReader-wrapper[font-size="5"] .e-FastReader-context_before {
	margin-bottom: 33px;
}
.e-FastReader-wrapper[font-size="3"] .e-FastReader-context_before {
	margin-bottom: 24px;
}
.e-FastReader-wrapper[font-size="2"] .e-FastReader-context_before {
	margin-bottom: 21px;
}
.e-FastReader-wrapper[font-size="1"] .e-FastReader-context_before {
	margin-bottom: 18px;
}
.e-FastReader-context_after {
	margin-top: 28px;
	top: 50%;
}
.e-FastReader-wrapper[font-size="7"] .e-FastReader-context_after {
	margin-top: 47px;
}
.e-FastReader-wrapper[font-size="6"] .e-FastReader-context_after {
	margin-top: 40px;
}
.e-FastReader-wrapper[font-size="5"] .e-FastReader-context_after {
	margin-top: 33px;
}
.e-FastReader-wrapper[font-size="3"] .e-FastReader-context_after {
	margin-top: 24px;
}
.e-FastReader-wrapper[font-size="2"] .e-FastReader-context_after {
	margin-top: 21px;
}
.e-FastReader-wrapper[font-size="1"] .e-FastReader-context_after {
	margin-top: 18px;
}



/* === Focus ===================== */

.e-FastReader-wordWrap {
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	text-align: center;
	white-space: nowrap;
}
.e-FastReader-wrapper[is-running=true] .e-FastReader-wordWrap {
	background: #e6e6e6;
}
.e-FastReader-wrapper[is-running=true][dark-theme=true] .e-FastReader-wordWrap {
	background: #1f1f1f;
}
.e-FastReader-wrapper[font-size="7"] .e-FastReader-wordWrap {
	margin: -105px 0 0 -513px;
	padding: 62px 0 0;
	width: 1027px;
	height: 210px;
	font-size: 74px;
	line-height: 74px;
}
.e-FastReader-wrapper[font-size="6"] .e-FastReader-wordWrap {
	margin: -85px 0 0 -416px;
	padding: 50px 0 0;
	width: 833px;
	height: 170px;
	font-size: 60px;
	line-height: 60px;
}
.e-FastReader-wrapper[font-size="5"] .e-FastReader-wordWrap {
	margin: -65px 0 0 -319px;
	padding: 38px 0 0;
	width: 639px;
	height: 130px;
	font-size: 46px;
	line-height: 46px;
}
.e-FastReader-wrapper[font-size="4"] .e-FastReader-wordWrap {
	margin: -51px 0 0 -250px;
	padding: 30px 0 0;
	width: 500px;
	height: 102px;
	font-size: 36px;
	line-height: 36px;
}
.e-FastReader-wrapper[font-size="3"] .e-FastReader-wordWrap {
	margin: -40px 0 0 -194px;
	padding: 24px 0 0;
	width: 389px;
	height: 79px;
	font-size: 28px;
	line-height: 28px;
}
.e-FastReader-wrapper[font-size="2"] .e-FastReader-wordWrap {
	margin: -31px 0 0 -153px;
	padding: 19px 0 0;
	width: 306px;
	height: 62px;
	font-size: 22px;
	line-height: 22px;
}
.e-FastReader-wrapper[font-size="1"] .e-FastReader-wordWrap {
	margin: -23px 0 0 -111px;
	padding: 14px 0 0;
	width: 223px;
	height: 45px;
	font-size: 16px;
	line-height: 16px;
}
.e-FastReader-word {
	position: relative;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-word {
	color: #9f9f9f;
}
.e-FastReader-word > span {
	color: #f00;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-word > span {
	color: #ff5757;
}

.e-FastReader-wrapper .e-FastReader-focusLines {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: solid #303030;
}
.e-FastReader-wrapper[font-size="7"] .e-FastReader-focusLines {
	border-width: 4px 0;
}
.e-FastReader-wrapper[font-size="6"] .e-FastReader-focusLines {
	border-width: 3px 0;
}
.e-FastReader-wrapper[font-size="5"] .e-FastReader-focusLines {
	border-width: 3px 0;
}
.e-FastReader-wrapper[font-size="4"] .e-FastReader-focusLines {
	border-width: 3px 0;
}
.e-FastReader-wrapper[font-size="3"] .e-FastReader-focusLines {
	border-width: 2px 0;
}
.e-FastReader-wrapper[font-size="2"] .e-FastReader-focusLines {
	border-width: 2px 0;
}
.e-FastReader-wrapper[font-size="1"] .e-FastReader-focusLines {
	border-width: 1px 0;
}
.e-FastReader-wrapper .e-FastReader-focusDashes {
	box-sizing: border-box;
	position: absolute;
	left: 35%;
	top: 0;
	height: 100%;
	border: solid #303030;
}
.e-FastReader-wrapper[font-size="7"] .e-FastReader-focusDashes {
	width: 4px;
	border-width: 30px 0;
}
.e-FastReader-wrapper[font-size="6"] .e-FastReader-focusDashes {
	width: 3px;
	border-width: 24px 0;
}
.e-FastReader-wrapper[font-size="5"] .e-FastReader-focusDashes {
	width: 3px;
	border-width: 19px 0;
}
.e-FastReader-wrapper[font-size="4"] .e-FastReader-focusDashes {
	width: 3px;
	border-width: 15px 0;
}
.e-FastReader-wrapper[font-size="3"] .e-FastReader-focusDashes {
	width: 2px;
	border-width: 12px 0;
}
.e-FastReader-wrapper[font-size="2"] .e-FastReader-focusDashes {
	width: 2px;
	border-width: 9px 0;
}
.e-FastReader-wrapper[font-size="1"] .e-FastReader-focusDashes {
	width: 1px;
	border-width: 7px 0;
}
.e-FastReader-wrapper[focus-mode=false] .e-FastReader-focusLines,
.e-FastReader-wrapper[focus-mode=false] .e-FastReader-focusDashes,
.e-FastReader-wrapper[is-running=false] .e-FastReader-focusLines,
.e-FastReader-wrapper[is-running=false] .e-FastReader-focusDashes {
	visibility: hidden;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-focusLines,
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-focusDashes {
	border-color: #575757;
}



/* === Info ===================== */

.e-FastReader-info {
	position: absolute;
	margin: -14px 0 0;
	width: 100%;
	left: 0;
	top: 50%;
	color: #8a8a8a;
	font-size: 28px;
	line-height: 1;
	text-align: center;
	font-style: italic;
	-webkit-transition: color 500ms;
}
.e-FastReader-wrapper[transparent-bg=true] .e-FastReader-info {
	color: #575757;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-info {
	color: #bfbfbf;
}
.e-FastReader-info > span {
	display: block;
	padding: 15px 0;
	font-size: 14px;
	text-align: center;
}



/* === Closing area ===================== */

.e-FastReader-closingArea {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.e-FastReader-closingArea_left {
	margin: 0 400px 0 0;
	right: 50%;
}
.e-FastReader-closingArea_right {
	margin: 0 0 0 400px;
	left: 50%;
}



/* === Panels ===================== */

.e-FastReader-panel {
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	color: #8a8a8a;
	background: #dbdbdb;
	z-index: 3;
	-webkit-transition: background-color 1s;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-panel {
	background: #000;
}
.e-FastReader-panel_top {
	top: 0;
	height: 50px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-panel_top {
	box-shadow: 0 2px 0 rgba(0, 0, 0, .15);
}
.e-FastReader-panel_bottom {
	bottom: 0;
	height: 72px;
}

.e-FastReader-topPanelLeft {
	position: absolute;
	margin: 0 0 0 -400px;
	left: 50%;
	top: 0;
	border-left: 1px solid #c5c5c5;
	-webkit-user-select: none;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-topPanelLeft {
	border-left-color: #262626;
}
.e-FastReader-topPanelRight {
	position: absolute;
	margin: 0 -400px 0 0;
	right: 50%;
	top: 0;
	-webkit-user-select: none;
}

.e-FastReader-topPanelBtn {
	opacity: .35;
	cursor: pointer;
}
.e-FastReader-topPanelBtn:hover {
	opacity: .5;
}
.e-FastReader-topPanelBtn:active {
	opacity: .65;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-topPanelBtn {
	opacity: .5;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-topPanelBtn:hover {
	opacity: .65;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-topPanelBtn:active {
	opacity: .5;
}
.e-FastReader-topPanelBtn_regular {
	width: 32px;
	height: 32px;
	background: url("chrome-extension://__MSG_@@extension_id__/img/sprite_content1.png");
}

.e-FastReader-adjust {
	position: relative;
	float: left;
	padding: 17px 45px 18px;
	border-right: 1px solid #c5c5c5;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-adjust {
	border-right-color: #262626;
}
.e-FastReader-adjust > span {
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.e-FastReader-adjust_wpm > span {
	width: 70px;
}
.e-FastReader-adjustBtn {
	position: absolute;
	top: 9px;
}
.e-FastReader-adjustBtn_minus {
	left: 10px;
	background-position: 0 -144px;
}
.e-FastReader-adjustBtn_plus {
	right: 10px;
	background-position: -32px -144px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-adjustBtn_minus {
	background-position: -288px -144px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-adjustBtn_plus {
	background-position: -320px -144px;
}

.e-FastReader-menuGroup {
	float: right;
	margin: 0 0 0 10px;
	padding: 9px 0 9px 10px;
	border: solid #c5c5c5;
	border-width: 0 1px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-menuGroup {
	border-color: #262626;
}
.e-FastReader-menuBtn {
	float: left;
	margin: 0 10px 0 0;
}
.e-FastReader-menuBtn_close {
	background-position: -64px -144px;
}
.e-FastReader-menuBtn_theme {
	background-position: -96px -144px;
}
.e-FastReader-menuBtn_background {
	background-position: -160px -144px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-menuBtn_close {
	background-position: -352px -144px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-menuBtn_theme {
	background-position: -416px -144px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-menuBtn_background {
	background-position: -448px -144px;
}

.e-FastReader-rangeCtrl {
	position: relative;
	margin: 0 10px 0 0;
	width: 32px;
}
.e-FastReader-rangeCtrl > span {
	display: block;
	font-size: 11px;
	line-height: 32px;
	font-weight: bold;
	text-align: center;
}
.e-FastReader-rangeCtrl-btn {
	position: absolute;
	left: 0;
	width: 32px;
	height: 25px;
}
.e-FastReader-rangeCtrl-btn_up {
	top: -9px;
}
.e-FastReader-rangeCtrl-btn_dn {
	bottom: -9px;
}
.e-FastReader-rangeCtrl-btn:after {
	content: '';
	position: absolute;
	left: 8px;
	width: 16px;
	height: 12px;
	background: url("chrome-extension://__MSG_@@extension_id__/img/sprite_content1.png");
}
.e-FastReader-rangeCtrl-btn_up:after {
	top: 5px;
	background-position: -192px -144px;
}
.e-FastReader-rangeCtrl-btn_dn:after {
	bottom: 5px;
	background-position: -192px -156px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-rangeCtrl-btn_up:after {
	background-position: -480px -144px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-rangeCtrl-btn_dn:after {
	background-position: -480px -156px;
}



/* === Controls ===================== */

.e-FastReader-control {
	position: absolute;
	top: 0;
	width: 72px;
	height: 72px;
	background: url("chrome-extension://__MSG_@@extension_id__/img/sprite_content1.png");
	opacity: .35;
	cursor: pointer;
}
.e-FastReader-control:hover {
	opacity: .44;
}
.e-FastReader-control:active {
	opacity: .5;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control {
	opacity: .3;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control:hover {
	opacity: .4;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control:active {
	opacity: .3;
}
.e-FastReader-control_plus {
	right: 0;
	background-position: 0 0;
}
.e-FastReader-control_minus {
	left: 0;
	background-position: -72px 0;
}
.e-FastReader-control_nextWord {
	margin: 0 -157px 0 0;
	right: 50%;
	background-position: 0 0;
}
.e-FastReader-control_nextSentence {
	margin: 0 -278px 0 0;
	right: 50%;
	background-position: -72px 0;
}
.e-FastReader-control_lastWord {
	margin: 0 -399px 0 0;
	right: 50%;
	background-position: -144px 0;
}
.e-FastReader-control_start {
	margin: 0 0 0 -36px;
	left: 50%;
	background-position: -216px 0;
}
.e-FastReader-control_prevWord {
	margin: 0 0 0 -157px;
	left: 50%;
	background-position: 0 -72px;
}
.e-FastReader-control_prevSentence {
	margin: 0 0 0 -278px;
	left: 50%;
	background-position: -72px -72px;
}
.e-FastReader-control_firstWord {
	margin: 0 0 0 -399px;
	left: 50%;
	background-position: -144px -72px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control_plus {
	background-position: -216px 0;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control_minus {
	background-position: -288px 0;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control_nextWord {
	background-position: -288px 0;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control_nextSentence {
	background-position: -360px 0;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control_lastWord {
	background-position: -432px 0;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control_start {
	background-position: -504px 0;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control_prevWord {
	background-position: -288px -72px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control_prevSentence {
	background-position: -360px -72px;
}
.e-FastReader-wrapper[dark-theme=true] .e-FastReader-control_firstWord {
	background-position: -432px -72px;
}



/* === Controls ===================== */

.e-FastReader-hlighter {
	position: absolute;
	background: rgba(66, 133, 244, .35);
	z-index: 2147483647;
	pointer-events: none;
	-webkit-transition: all 100ms;
}



@media screen and (max-width: 1000px) {
	.e-FastReader-closingArea,
	.e-FastReader-info > span {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	.e-FastReader-topPanelLeft {
		margin: 0;
		left: 0;
	}
	.e-FastReader-topPanelRight {
		margin: 0;
		right: 0;
	}
	
	.e-FastReader-control_nextWord {
		margin: 0 -108px 0 0;
	}
	.e-FastReader-control_nextSentence {
		margin: 0 -180px 0 0;
	}
	.e-FastReader-control_lastWord {
		margin: 0 -252px 0 0;
	}
	.e-FastReader-control_prevWord {
		margin: 0 0 0 -108px;
	}
	.e-FastReader-control_prevSentence {
		margin: 0 0 0 -180px;
	}
	.e-FastReader-control_firstWord {
		margin: 0 0 0 -252px;
	}
}
@media screen and (max-width: 664px) {
	.e-FastReader-context {
		margin-left: 0;
		left: 5%;
		width: 90%;
	}
}
