

.l-view {
	display: none;
	border-radius: 2px;
}
.l-view[active="true"] {
	display: block;
}
.l-view[view-name="main"],
.l-view[view-name="shortcut"] {
	background: #e8e8e8;
}

.l-view-head {
	position: relative;
	padding: 15px 20px 15px 0;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	border-bottom: 1px solid #e8e8e8;
}
.l-view-head_mod1 {
	border-color: #c4c4c4;
}

.l-view-backBtn {
	position: absolute;
	right: 11px;
	top: 11px;
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: url("chrome-extension://__MSG_@@extension_id__/img/sprite_popup1.png") -34px -16px;
	opacity: .35;
}
.l-view-backBtn:hover {
	opacity: .5;
}
.l-view-backBtn:active {
	opacity: .65;
}
