

{color: #f7f7f7;}
{color: #e8e8e8;}
{color: #d0d0d0;}
{color: #c4c4c4;}
{color: #8a8a8a;}
{color: #303030;}

{color: #4dbd85;}
{color: #db5a78;}



* {
	margin: 0;
	padding: 0;
}

body {
	width: 300px;
	font: 12px/1.334 Tahoma, Geneva, Verdana, sans-serif;
	color: #303030;
	cursor: default;
	background: #fff;
}
body[active-view="help"],
body[active-view="advices"] {
	width: 500px;
}
body[active-view="settings"] {
	width: 343px;
}


a, .e-pseudoLink {
	color: #db5a78;
	cursor: pointer;
}
a:hover, .e-pseudoLink:hover {
	text-decoration: underline;
}


[lng] {
	display: none;
}
body[locale="en"] [lng="en"],
body[locale="ru"] [lng="ru"] {
	display: block;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	vertical-align: top;
}


input[type="text"], input[type="password"], textarea, select {
	box-sizing: border-box;
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	border: 1px solid #c4c4c4;
	border-radius: 3px;
	vertical-align: top;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	outline: 0;
	border-color: #4dbd85;
	box-shadow: 0 0 0 3px rgba(77, 189, 133, .1);
}
input[type="text"], input[type="password"] {
	padding: 7px 7px 8px;
	height: 31px;
}
select {
	padding: 0 3px 1px;
	height: 31px;
}


.g-clrfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
