

.p-help-title {
	position: relative;
	padding: 8px 40px 12px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	text-shadow: 0 0 1px rgba(0, 0, 0, .15);
	border-bottom: 1px solid #ededed;
}
.p-help-closeBtn {
	position: absolute;
	right: 5px;
	top: 5px;
}
.p-help-content {
	padding: 15px 15px 20px;
	max-height: 350px;
	text-shadow: 0 0 1px rgba(0, 0, 0, .15);
	overflow: auto;
	border-bottom: 1px solid #ededed;
}
.p-help-content strong {
	color: #db5a78;
	text-shadow: 0 0 1px rgba(219, 90, 120, .15);
}
