

.e-Reedy-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font: 16px/1.25 Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #303030;
	z-index: 2147483647;
	overflow: hidden;
	outline: 0;
	opacity: 0;
	cursor: default;
	-webkit-transition: opacity 500ms;
}
.e-Reedy-wrapper[is-closing=false] {
	opacity: 1;
}
.e-Reedy-wrapper[is-closing=true] {
	opacity: 0;
}

.e-Reedy-wrapper * { /* fix for sites that apply styles directly on tags (i.e. lipsum.com) */
	color: inherit;
	font: inherit;
	line-height: inherit;
}



/* === Background ===================== */

.e-Reedy-background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/*background: #e6e6e6;*/ /*JS*/
	z-index: 0;
}
.e-Reedy-wrapper[is-opening=false] .e-Reedy-background {
	-webkit-transition: all 1s;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-background {
	/*background: #1f1f1f;*/ /*JS*/
}
.e-Reedy-wrapper[transparent-bg=true] .e-Reedy-background {
	opacity: .85;
}
.e-Reedy-wrapper[transparent-bg=true][dark-theme=true] .e-Reedy-background {
	opacity: .9;
}



/* === Pane ===================== */

.e-Reedy-pane {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 1;
}
.e-Reedy-wrapper[v-position="5"] .e-Reedy-pane {
	bottom: 0;
	height: 160%;
}
.e-Reedy-wrapper[v-position="4"] .e-Reedy-pane {
	bottom: 0;
	height: 130%;
}
.e-Reedy-wrapper[v-position="3"] .e-Reedy-pane {
	top: 0;
}
.e-Reedy-wrapper[v-position="2"] .e-Reedy-pane {
	top: 0;
	height: 130%;
}
.e-Reedy-wrapper[v-position="1"] .e-Reedy-pane {
	top: 0;
	height: 160%;
}



/* === Context ===================== */

.e-Reedy-context {
	position: absolute;
	margin: 0 0 0 -300px;
	max-width: 600px;
	left: 50%;
	color: #575757;
	font-size: 16px;
	text-align: justify;
	opacity: .72;
	z-index: 1; /* Places the context above the word wrapper */
	-webkit-transition: all 1s;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-context {
	color: #8a8a8a;
}
.e-Reedy-wrapper[transparent-bg=true] .e-Reedy-context {
	opacity: 1;
}
.e-Reedy-wrapper[is-running=true] .e-Reedy-context {
	display: none;
}
.e-Reedy-context_before {
	margin-bottom: 28px;
	bottom: 50%;
}
.e-Reedy-wrapper[font-size="7"] .e-Reedy-context_before {
	margin-bottom: 47px;
}
.e-Reedy-wrapper[font-size="6"] .e-Reedy-context_before {
	margin-bottom: 40px;
}
.e-Reedy-wrapper[font-size="5"] .e-Reedy-context_before {
	margin-bottom: 33px;
}
.e-Reedy-wrapper[font-size="3"] .e-Reedy-context_before {
	margin-bottom: 24px;
}
.e-Reedy-wrapper[font-size="2"] .e-Reedy-context_before {
	margin-bottom: 21px;
}
.e-Reedy-wrapper[font-size="1"] .e-Reedy-context_before {
	margin-bottom: 18px;
}
.e-Reedy-context_after {
	margin-top: 28px;
	top: 50%;
}
.e-Reedy-wrapper[font-size="7"] .e-Reedy-context_after {
	margin-top: 47px;
}
.e-Reedy-wrapper[font-size="6"] .e-Reedy-context_after {
	margin-top: 40px;
}
.e-Reedy-wrapper[font-size="5"] .e-Reedy-context_after {
	margin-top: 33px;
}
.e-Reedy-wrapper[font-size="3"] .e-Reedy-context_after {
	margin-top: 24px;
}
.e-Reedy-wrapper[font-size="2"] .e-Reedy-context_after {
	margin-top: 21px;
}
.e-Reedy-wrapper[font-size="1"] .e-Reedy-context_after {
	margin-top: 18px;
}



/* === Word ===================== */

.e-Reedy-wordWrap {
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
}
.e-Reedy-wordWrap2 {
	padding: 14px 0 0;
	height: 100%;
	overflow: hidden;
}
.e-Reedy-wrapper[is-running=true] .e-Reedy-wordWrap {
	/*background: #e6e6e6;*/ /*JS*/
}
.e-Reedy-wrapper[is-running=true][dark-theme=true] .e-Reedy-wordWrap {
	/*background: #1f1f1f;*/ /*JS*/
}
.e-Reedy-wrapper[font-size="7"] .e-Reedy-wordWrap {
	margin: -105px 0 0 -513px;
	padding: 48px 0 0;
	width: 1027px;
	height: 210px;
	font-size: 74px;
}
.e-Reedy-wrapper[font-size="6"] .e-Reedy-wordWrap {
	margin: -85px 0 0 -416px;
	padding: 36px 0 0;
	width: 833px;
	height: 170px;
	font-size: 60px;
}
.e-Reedy-wrapper[font-size="5"] .e-Reedy-wordWrap {
	margin: -65px 0 0 -319px;
	padding: 24px 0 0;
	width: 639px;
	height: 130px;
	font-size: 46px;
}
.e-Reedy-wrapper[font-size="4"] .e-Reedy-wordWrap {
	margin: -51px 0 0 -250px;
	padding: 16px 0 0;
	width: 500px;
	height: 102px;
	font-size: 36px;
}
.e-Reedy-wrapper[font-size="3"] .e-Reedy-wordWrap {
	margin: -40px 0 0 -194px;
	padding: 10px 0 0;
	width: 389px;
	height: 79px;
	font-size: 28px;
}
.e-Reedy-wrapper[font-size="2"] .e-Reedy-wordWrap {
	margin: -31px 0 0 -153px;
	padding: 5px 0 0;
	width: 306px;
	height: 62px;
	font-size: 22px;
}
.e-Reedy-wrapper[font-size="1"] .e-Reedy-wordWrap {
	margin: -23px 0 0 -111px;
	width: 223px;
	height: 45px;
	font-size: 16px;
}
.e-Reedy-word {
	position: relative;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-word {
	color: #b8b8b8;
}
.e-Reedy-word > span {
	color: #f00;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-word > span {
	color: #ff5757;
}
.e-Reedy-word > i {
	font-style: normal;
	opacity: .35;
}
.e-Reedy-wrapper[is-running=false] .e-Reedy-word > i {
	display: none;
}



/* === Focus ===================== */

.e-Reedy-wrapper .e-Reedy-focusLines {
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: solid #303030;
}
.e-Reedy-wrapper[font-size="7"] .e-Reedy-focusLines {
	border-width: 4px 0;
}
.e-Reedy-wrapper[font-size="6"] .e-Reedy-focusLines {
	border-width: 3px 0;
}
.e-Reedy-wrapper[font-size="5"] .e-Reedy-focusLines {
	border-width: 3px 0;
}
.e-Reedy-wrapper[font-size="4"] .e-Reedy-focusLines {
	border-width: 3px 0;
}
.e-Reedy-wrapper[font-size="3"] .e-Reedy-focusLines {
	border-width: 2px 0;
}
.e-Reedy-wrapper[font-size="2"] .e-Reedy-focusLines {
	border-width: 2px 0;
}
.e-Reedy-wrapper[font-size="1"] .e-Reedy-focusLines {
	border-width: 1px 0;
}
.e-Reedy-wrapper .e-Reedy-focusDashes {
	box-sizing: border-box;
	position: absolute;
	left: 35%;
	top: 0;
	height: 100%;
	border: solid #303030;
}
.e-Reedy-wrapper[font-size="7"] .e-Reedy-focusDashes {
	width: 4px;
	border-width: 30px 0;
}
.e-Reedy-wrapper[font-size="6"] .e-Reedy-focusDashes {
	width: 3px;
	border-width: 24px 0;
}
.e-Reedy-wrapper[font-size="5"] .e-Reedy-focusDashes {
	width: 3px;
	border-width: 19px 0;
}
.e-Reedy-wrapper[font-size="4"] .e-Reedy-focusDashes {
	width: 3px;
	border-width: 15px 0;
}
.e-Reedy-wrapper[font-size="3"] .e-Reedy-focusDashes {
	width: 2px;
	border-width: 12px 0;
}
.e-Reedy-wrapper[font-size="2"] .e-Reedy-focusDashes {
	width: 2px;
	border-width: 9px 0;
}
.e-Reedy-wrapper[font-size="1"] .e-Reedy-focusDashes {
	width: 1px;
	border-width: 7px 0;
}
.e-Reedy-wrapper[focus-mode=false] .e-Reedy-focusLines,
.e-Reedy-wrapper[focus-mode=false] .e-Reedy-focusDashes,
.e-Reedy-wrapper[is-running=false] .e-Reedy-focusLines,
.e-Reedy-wrapper[is-running=false] .e-Reedy-focusDashes {
	visibility: hidden; /* can't use `display:none` because of the need to find out its coordinates */
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-focusLines,
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-focusDashes {
	border-color: #575757;
}



/* === Time left ===================== */

.e-Reedy-timeLeft {
	font-size: 12px;
	font-weight: bold;
}
.e-Reedy-timeLeft_panel {
	position: relative;
	float: left;
	padding: 17px 15px 18px;
}
.e-Reedy-timeLeft_word {
	position: absolute;
	margin: 0 0 -0.5%;
	right: 0;
	bottom: -17px;
}
.e-Reedy-wrapper[font-size="2"] .e-Reedy-timeLeft_word {
	font-size: 11px;
	opacity: .9;
}
.e-Reedy-wrapper[font-size="1"] .e-Reedy-timeLeft_word {
	font-size: 10px;
	opacity: .8;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-timeLeft_word {
	color: #6b6b6b;
}
.e-Reedy-wrapper[time-left=false] .e-Reedy-timeLeft_word,
.e-Reedy-wrapper[is-running=false] .e-Reedy-timeLeft_word {
	display: none;
}
.e-Reedy-timeLeft > i {
	font-size: 91.7%;
	font-weight: normal;
}



/* === Progress ===================== */

.e-Reedy-progressBg {
	position: absolute;
	left: 0;
	width: 100%;
	background: rgba(48, 48, 48, .1);
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-progressBg {
	background: rgba(255, 255, 255, .07);
}
.e-Reedy-wrapper[font-size="7"] .e-Reedy-progressBg {
	bottom: -6px;
	height: 4px;
}
.e-Reedy-wrapper[font-size="6"] .e-Reedy-progressBg,
.e-Reedy-wrapper[font-size="5"] .e-Reedy-progressBg,
.e-Reedy-wrapper[font-size="4"] .e-Reedy-progressBg {
	bottom: -5px;
	height: 3px;
}
.e-Reedy-wrapper[font-size="3"] .e-Reedy-progressBg,
.e-Reedy-wrapper[font-size="2"] .e-Reedy-progressBg {
	bottom: -4px;
	height: 2px;
}
.e-Reedy-wrapper[font-size="1"] .e-Reedy-progressBg {
	bottom: -3px;
	height: 1px;
}
.e-Reedy-wrapper[progress-bar=false] .e-Reedy-progressBg,
.e-Reedy-wrapper[is-running=false] .e-Reedy-progressBg {
	display: none;
}
.e-Reedy-progressBar {
	width: 100px;
	height: 100%;
	background: #309c37;
}



/* === Info ===================== */

.e-Reedy-info {
	position: absolute;
	margin: -16px 0 0;
	width: 100%;
	left: 0;
	top: 50%;
	color: #8a8a8a;
	font-size: 28px;
	line-height: 1;
	text-align: center;
	-webkit-transition: color 500ms;
}
.e-Reedy-wrapper[transparent-bg=true] .e-Reedy-info {
	color: #575757;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-info {
	color: #b8b8b8;
}
.e-Reedy-wrapper[autostart=true] .e-Reedy-info,
.e-Reedy-wrapper[was-launched=true] .e-Reedy-info {
	display: none;
}
.e-Reedy-info > span {
	display: block;
	padding: 15px 0;
	font-size: 14px;
	text-align: center;
}



/* === Closing area ===================== */

.e-Reedy-closingArea {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.e-Reedy-closingArea_left {
	margin: 0 400px 0 0;
	right: 50%;
}
.e-Reedy-closingArea_right {
	margin: 0 0 0 400px;
	left: 50%;
}



/* === Scroll bar ===================== */

.e-Reedy-scrollerWrap {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0 10px;
	width: 12px;
	z-index: 3;
}
.e-Reedy-scrollerBg {
	position: absolute;
	right: 10px;
	top: 60px;
	bottom: 82px;
	width: 12px;
	background: rgba(48, 48, 48, .1);
	border-radius: 20px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-scrollerBg {
	background: rgba(255, 255, 255, .07);
}
.e-Reedy-wrapper[was-launched=false] .e-Reedy-scrollerWrap,
.e-Reedy-wrapper[is-running=true] .e-Reedy-scrollerWrap {
	display: none;
}
.e-Reedy-scrollerBarWrap {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 100px;
	width: 100%;
}
.e-Reedy-scrollerBar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100px;
	background: rgba(48, 48, 48, .42);
	border-radius: 20px;
}
.e-Reedy-scrollerBar:hover {
	background: rgba(48, 48, 48, .55);
}
.e-Reedy-scrollerBar:active {
	background: rgba(48, 48, 48, .65);
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-scrollerBar {
	background: rgba(255, 255, 255, .2);
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-scrollerBar:hover {
	background: rgba(255, 255, 255, .25);
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-scrollerBar:active {
	background: rgba(255, 255, 255, .15);
}



/* === Panels ===================== */

.e-Reedy-panel {
	position: absolute;
	width: 100%;
	left: 0;
	color: #8a8a8a;
	background: #dbdbdb;
	opacity: 0;
	z-index: 4;
	-webkit-transition: background-color 1s, opacity 500ms 350ms;
}
.e-Reedy-wrapper[is-closing=false] .e-Reedy-panel {
	opacity: 1;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-panel {
	background: #000;
}
.e-Reedy-wrapper[is-running=true] .e-Reedy-panel,
.e-Reedy-wrapper[autostart=true][was-launched=false] .e-Reedy-panel {
	display: none;
}
.e-Reedy-panel_top {
	top: 0;
	height: 50px;
	box-shadow: 0 2px 0 rgba(0, 0, 0, .1);
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-panel_top {
	box-shadow: 0 2px 0 rgba(0, 0, 0, .15);
}
.e-Reedy-panel_bottom {
	bottom: 0;
	height: 72px;
}

.e-Reedy-topPanelLeft {
	position: absolute;
	margin: 0 0 0 -400px;
	left: 50%;
	top: 0;
	border-left: 1px solid #c5c5c5;
	-webkit-transition: border-color 1s;
	-webkit-user-select: none;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-topPanelLeft {
	border-left-color: #262626;
}
.e-Reedy-topPanelRight {
	position: absolute;
	margin: 0 -400px 0 0;
	right: 50%;
	top: 0;
	-webkit-user-select: none;
}

.e-Reedy-topPanelBtn {
	opacity: .35;
	cursor: pointer;
}
.e-Reedy-topPanelBtn:hover {
	opacity: .5;
}
.e-Reedy-topPanelBtn:active {
	opacity: .65;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-topPanelBtn {
	opacity: .5;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-topPanelBtn:hover {
	opacity: .65;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-topPanelBtn:active {
	opacity: .5;
}
.e-Reedy-topPanelBtn_regular {
	width: 32px;
	height: 32px;
	background: url("chrome-extension://__MSG_@@extension_id__/img/sprite_content1.png");
}

.e-Reedy-adjust {
	position: relative;
	float: left;
	padding: 17px 45px 18px;
	border-right: 1px solid #c5c5c5;
	-webkit-transition: border-color 1s;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-adjust {
	border-right-color: #262626;
}
.e-Reedy-adjust > span {
	display: block;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.e-Reedy-adjust_wpm > span {
	width: 70px;
}
.e-Reedy-adjustBtn {
	position: absolute;
	top: 9px;
}
.e-Reedy-adjustBtn_minus {
	left: 10px;
	background-position: 0 -144px;
}
.e-Reedy-adjustBtn_plus {
	right: 10px;
	background-position: -32px -144px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-adjustBtn_minus {
	background-position: -288px -144px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-adjustBtn_plus {
	background-position: -320px -144px;
}

.e-Reedy-menuGroup {
	float: right;
	margin: 0 0 0 10px;
	padding: 9px 0 9px 10px;
	border: solid #c5c5c5;
	border-width: 0 1px;
	-webkit-transition: border-color 1s;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-menuGroup {
	border-color: #262626;
}
.e-Reedy-menuBtn {
	float: left;
	margin: 0 10px 0 0;
}
.e-Reedy-menuBtn_close {
	background-position: -64px -144px;
}
.e-Reedy-menuBtn_theme {
	background-position: -96px -144px;
}
.e-Reedy-menuBtn_background {
	background-position: -160px -144px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-menuBtn_close {
	background-position: -352px -144px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-menuBtn_theme {
	background-position: -416px -144px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-menuBtn_background {
	background-position: -448px -144px;
}

.e-Reedy-rangeCtrl {
	position: relative;
	margin: 0 10px 0 0;
	width: 32px;
}
.e-Reedy-rangeCtrl > span {
	display: block;
	font-size: 11px;
	line-height: 32px;
	font-weight: bold;
	text-align: center;
}
.e-Reedy-rangeCtrl-btn {
	position: absolute;
	left: 0;
	width: 32px;
	height: 25px;
}
.e-Reedy-rangeCtrl-btn_up {
	top: -9px;
}
.e-Reedy-rangeCtrl-btn_dn {
	bottom: -9px;
}
.e-Reedy-rangeCtrl-btn:after {
	content: '';
	position: absolute;
	left: 8px;
	width: 16px;
	height: 12px;
	background: url("chrome-extension://__MSG_@@extension_id__/img/sprite_content1.png");
}
.e-Reedy-rangeCtrl-btn_up:after {
	top: 5px;
	background-position: -192px -144px;
}
.e-Reedy-rangeCtrl-btn_dn:after {
	bottom: 5px;
	background-position: -192px -156px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-rangeCtrl-btn_up:after {
	background-position: -480px -144px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-rangeCtrl-btn_dn:after {
	background-position: -480px -156px;
}



/* === Controls ===================== */

.e-Reedy-control {
	position: absolute;
	top: 0;
	width: 72px;
	height: 72px;
	background: url("chrome-extension://__MSG_@@extension_id__/img/sprite_content1.png");
	opacity: .35;
	cursor: pointer;
}
.e-Reedy-control:hover {
	opacity: .44;
}
.e-Reedy-control:active {
	opacity: .5;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control {
	opacity: .3;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control:hover {
	opacity: .4;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control:active {
	opacity: .3;
}
.e-Reedy-control_plus {
	right: 0;
	background-position: 0 0;
}
.e-Reedy-control_minus {
	left: 0;
	background-position: -72px 0;
}
.e-Reedy-control_nextWord {
	margin: 0 -157px 0 0;
	right: 50%;
	background-position: 0 0;
}
.e-Reedy-control_nextSentence {
	margin: 0 -278px 0 0;
	right: 50%;
	background-position: -72px 0;
}
.e-Reedy-control_lastWord {
	margin: 0 -399px 0 0;
	right: 50%;
	background-position: -144px 0;
}
.e-Reedy-control_start {
	margin: 0 0 0 -36px;
	left: 50%;
	background-position: -216px 0;
}
.e-Reedy-control_prevWord {
	margin: 0 0 0 -157px;
	left: 50%;
	background-position: 0 -72px;
}
.e-Reedy-control_prevSentence {
	margin: 0 0 0 -278px;
	left: 50%;
	background-position: -72px -72px;
}
.e-Reedy-control_firstWord {
	margin: 0 0 0 -399px;
	left: 50%;
	background-position: -144px -72px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control_plus {
	background-position: -216px 0;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control_minus {
	background-position: -288px 0;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control_nextWord {
	background-position: -288px 0;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control_nextSentence {
	background-position: -360px 0;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control_lastWord {
	background-position: -432px 0;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control_start {
	background-position: -504px 0;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control_prevWord {
	background-position: -288px -72px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control_prevSentence {
	background-position: -360px -72px;
}
.e-Reedy-wrapper[dark-theme=true] .e-Reedy-control_firstWord {
	background-position: -432px -72px;
}



/* === Controls ===================== */

.e-Reedy-hlighter {
	position: absolute;
	background: rgba(77, 189, 133, .35);
	z-index: 2147483647;
	pointer-events: none;
	-webkit-transition: all 100ms;
}



@media screen and (max-width: 1000px) {
	.e-Reedy-closingArea,
	.e-Reedy-info > span {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	.e-Reedy-topPanelLeft {
		margin: 0;
		left: 0;
	}
	.e-Reedy-topPanelRight {
		margin: 0;
		right: 0;
	}
	
	.e-Reedy-control_nextWord {
		margin: 0 -108px 0 0;
	}
	.e-Reedy-control_nextSentence {
		margin: 0 -180px 0 0;
	}
	.e-Reedy-control_lastWord {
		margin: 0 -252px 0 0;
	}
	.e-Reedy-control_prevWord {
		margin: 0 0 0 -108px;
	}
	.e-Reedy-control_prevSentence {
		margin: 0 0 0 -180px;
	}
	.e-Reedy-control_firstWord {
		margin: 0 0 0 -252px;
	}
}
@media screen and (max-width: 664px) {
	.e-Reedy-context {
		margin-left: 0;
		left: 5%;
		width: 90%;
	}
}
